<div class="container" xmlns:th="http://www.thymeleaf.org"
     th:fragment="mapConfigsTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h5><br>Konfiguracje map</h5>
            </div>
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Plik</th>
                    <th scope="col">Dozwolony kolor</th>
                    <th scope="col">Zabroniony kolor</th>
                    <th scope="col">Szer. geogr. LDR</th>
                    <th scope="col">Dł. geogr. LDR</th>
                    <th scope="col">Szer. geogr. PGR</th>
                    <th scope="col">Dł. geogr. PGR</th>
                    <th scope="col">Poprawność</th>
                    <th scope="col">Usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${mapConfigs}">
                    <td th:text="${c.getConfigName()}"></td>
                    <td th:text="${c.getOriginalFileName()}"></td>
                    <td th:text="${c.getAllowedRGBColor()}"></td>
                    <td th:text="${c.getForbiddenRGBColor()}"></td>
                    <td th:text="${#numbers.formatDecimal(
                            c.getBottomLeftCornerLatitude(), 1, 6, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(
                    c.getBottomLeftCornerLongitude(), 1, 6, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(
                    c.getUpperRightCornerLatitude(), 1, 6, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(
                    c.getUpperRightCornerLongitude(), 1, 6, 'POINT')}"></td>
                    <td>
                        <div th:if="${!c.isVerified()}">
                            <form action="/mapconfigs/verify" method="get">
                                <input type="hidden"
                                       th:value="${c.getConfigName()}"
                                       name="configName">
                                <button type="submit"
                                        class="btn btn-outline-primary btn-sm"
                                        th:disabled="${c.isVerified()}">Zweryfikuj
                                </button>
                            </form>
                        </div>
                        <div th:if="${c.isVerified()}">
                            <p>OK</p>
                        </div>
                    </td>
                    <td>
                        <form action="/mapconfigs/delete" method="get">
                            <input type="hidden"
                                   th:value="${c.getConfigName()}"
                                   name="configName">
                            <button type="submit"
                                    class="btn btn-outline-danger btn-sm">Usuń
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>