<div class="container" xmlns:th="http://www.thymeleaf.org"
     th:fragment="tracksTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h5><br>Trasy</h5>
            </div>

            <div class="mytable">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="firstfromleft" scope="col">Nazwa</th>
                        <th scope="col">Plik trasy</th>
                        <th scope="col">Czas rozpoczęcia zrzutu</th>
                        <th scope="col">Czas zakończenia zrzutu</th>
                        <th scope="col">Konfiguracja mapy</th>
                        <th scope="col">Konfiguracja strefy z punktów</th>
                        <th scope="col">Konfiguracja strefy z zakrętów</th>
                        <th scope="col">Konfiguracja offsetów dla punktów</th>
                        <th scope="col">Konfiguracja offsetów dla zakrętów</th>
                        <th scope="col">Konfiguracja przetwarzania</th>
                        <th scope="col">Plik wyjściowy</th>
                        <th scope="col">Plik wyjściowy DEBUG</th>
                        <th class="thirdfromright" scope="col">Poprawność</th>
                        <th class="secondfromright" scope="col">Przetwarzaj</th>
                        <th class="firstfromright" scope="col">Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t : ${tracks}">
                        <td  class="firstfromleft"
                             th:text="${t.getTrackName()}"></td>
                        <td th:text="${t.getOriginalTrackFileName()}"></td>
                        <td th:text="${t.getDropStartTime()}"></td>
                        <td th:text="${t.getDropStopTime()}"></td>
                        <td th:text="${t.getMapConfigName()}"></td>
                        <td th:text="${t.getZoneByPointsConfigName()}"></td>
                        <td th:text="${t.getZoneByTurnsConfigName()}"></td>
                        <td th:text="${t.getZoneByPointsTimeConfigName()}"></td>
                        <td th:text="${t.getZoneByTurnsTimeConfigName()}"></td>
                        <td th:text="${t.getProcessingConfigName()}"></td>
                        <td>
                            <div th:if="${t.getUniqueOutputFileName() != null}">
                                <a th:href="@{'/download/' + ${t.getUniqueOutputFileName()}}">Pobierz na dysk</a>
                                <a th:href="@{'/openinbrowser/' + ${t.getUniqueOutputFileName()}}"
                                        target="_blank" rel="noopener noreferrer">Otwórz w nowej karcie</a>
                            </div>
                        </td>
                        <td>
                            <div th:if="${t.getUniqueOutputDebugFileName() != null}">
                                <a th:href="@{'/download/' + ${t.getUniqueOutputDebugFileName()}}">Pobierz na dysk</a>
                                <a th:href="@{'/openinbrowser/' + ${t.getUniqueOutputDebugFileName()}}"
                                        target="_blank" rel="noopener noreferrer">Otwórz w nowej karcie</a>
                            </div>
                        </td>
                        <td class="thirdfromright">
                            <div th:if="${!t.isVerified()}">
                                <form action="/tracks/verify"
                                      method="get">
                                    <input type="hidden"
                                           th:value="${t.getTrackName()}"
                                           name="trackName">
                                    <button type="submit"
                                            class="btn btn-outline-primary btn-sm"
                                            th:disabled="${t.isVerified()}">Zweryfikuj
                                    </button>
                                </form>
                            </div>
                            <div th:if="${t.isVerified()}">
                                <p>OK</p>
                            </div>

                        </td>
                        <td class="secondfromright">
                            <form action="/tracks/process" method="get">
                                <input type="hidden"
                                       th:value="${t.getTrackName()}"
                                       name="trackName">
                                <button type="submit"
                                        class="btn btn-outline-primary btn-sm"
                                        th:disabled="${!t.isVerified() || t.isProcessed()}">Przetwarzaj
                                </button>
                            </form>
                        </td>
                        <td class="firstfromright">
                            <form action="/tracks/delete" method="get">
                                <input type="hidden"
                                       th:value="${t.getTrackName()}"
                                       name="trackName">
                                <button type="submit"
                                        class="btn btn-outline-danger btn-sm">Usuń
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>