<div class="container" xmlns:th="http://www.thymeleaf.org"
           th:fragment="zoneByTurnsTimeConfigsTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h5><br>Konfiguracje offsetów czasowych dla stref z zakrętów</h5>
            </div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Pełny czas strefy z poj. zakr.</th>
                    <th scope="col">Offset pocz. strefy z poj. zakr.</th>
                    <th scope="col">Offset końc. strefy z poj. zakr.</th>
                    <th scope="col">Pełny czas strefy z grupy zakr.</th>
                    <th scope="col">Offset pocz. strefy z grupy zakr.</th>
                    <th scope="col">Offset końc. strefy z grupy zakr.</th>
                    <th scope="col">Poprawność</th>
                    <th scope="col">Usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${zoneByTurnsTimeConfigs}">
                    <td th:text="${c.getConfigName()}"></td>
                    <td th:text="${c.isSingleTurnZoneFullTime()}"></td>
                    <td th:text="${c.getSingleTurnZoneBeginOffset()}"></td>
                    <td th:text="${c.getSingleTurnZoneEndOffset()}"></td>
                    <td th:text="${c.isGroupOfTurnsZoneFullTime()}"></td>
                    <td th:text="${c.getGroupOfTurnsZoneBeginOffset()}"></td>
                    <td th:text="${c.getGroupOfTurnsZoneEndOffset()}"></td>
                    <td>
                        <div th:if="${!c.isVerified()}">
                            <form action="/zonebyturnstimeconfigs/verify"
                                  method="get">
                                <input type="hidden"
                                       th:value="${c.getConfigName()}"
                                       name="configName">
                                <button type="submit"
                                        class="btn btn-outline-primary btn-sm"
                                        th:disabled="${c.isVerified()}">Zweryfikuj
                                </button>
                            </form>
                        </div>
                        <div th:if="${c.isVerified()}">
                            <p>OK</p>
                        </div>
                    </td>
                    <td>
                        <form action="/zonebyturnstimeconfigs/delete" method="get">
                            <input type="hidden"
                                   th:value="${c.getConfigName()}"
                                   name="configName">
                            <button type="submit"
                                    class="btn btn-outline-danger btn-sm">Usuń
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>