<div class="container" xmlns:th="http://www.thymeleaf.org"
     th:fragment="zoneByPointsTimeConfigForm">
    <div class="row">
        <div class="col-md-12">
            <h5><br>Dodaj nową konfigurację</h5>
        </div>
        <div class="col-md-12">
            <p th:text="${message}" style="color: red"></p>
            <form class="needs-validation" novalidate
                  enctype="multipart/form-data"
                  th:object="${configDto}"
                  th:action="@{/zonebypointstimeconfigs}" th:method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="configName">Nazwa</label>
                        <input type="text"
                               name="configName"
                               class="form-control"
                               id="configName"
                               placeholder="Twoja unikalna nazwa"
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getConfigName()} + ' - popraw nazwę' : ''">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="SPBOffset">Offset pocz. poj. pkt.</label>
                        <input type="number"
                               name="singlePointZoneBeginOffset"
                               class="form-control"
                               id="SPBOffset"
                               placeholder=""
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getSinglePointZoneBeginOffset()} : '1'">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="SPEOffset">Offset końc. poj. pkt.</label>
                        <input type="number"
                               name="singlePointZoneEndOffset"
                               class="form-control"
                               id="SPEOffset"
                               placeholder=""
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getSinglePointZoneEndOffset()} : '1'">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="GPBOffset">Offset pocz. grupy pkt.</label>
                        <input type="number"
                               name="groupOfPointsZoneBeginOffset"
                               class="form-control"
                               id="GPBOffset"
                               placeholder=""
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getGroupOfPointsZoneBeginOffset()} : '1'">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="GPEOffset">Offset końc. grupy pkt.</label>
                        <input type="number"
                               name="groupOfPointsZoneEndOffset"
                               class="form-control"
                               id="GPEOffset"
                               placeholder=""
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getGroupOfPointsZoneEndOffset()} : '1'">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
            <script>
            // Example starter JavaScript for disabling form submissions
            //if there are invalid fields
            (function() {
                'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap
            // validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
            }, false);
            })();
            </script>
        </div>
    </div>
</div>