<div class="container" xmlns:th="http://www.thymeleaf.org"
     th:fragment="zoneByTurnsTimeConfigForm">
    <div class="row">
        <div class="col-md-12">
            <h5><br>Dodaj nową konfigurację</h5>
        </div>
        <div class="col-md-12">
            <p th:text="${message}" style="color: red"></p>
            <form class="needs-validation" novalidate
                  enctype="multipart/form-data"
                  th:object="${configDto}"
                  th:action="@{/zonebyturnstimeconfigs}" th:method="post">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="configName">Nazwa</label>
                        <input type="text"
                               name="configName"
                               class="form-control"
                               id="configName"
                               placeholder="Twoja unikalna nazwa"
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getConfigName()} + ' - popraw nazwę' : ''">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <div>
                            <label for="STfull">Pełny czas strefy z poj. zakr.</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="checkbox"
                                   name="singleTurnZoneFullTime"
                                   class="form-check-input"
                                   id="STfull"
                                   th:checked="${wrongConfig != null}? ${wrongConfig.isSingleTurnZoneFullTime()}">
                            <label class="form-check-label"
                                   for="STfull">Tak</label>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="STBOffset">Offset pocz. strefy z poj. zakr.</label>
                        <input type="number"
                               name="singleTurnZoneBeginOffset"
                               class="form-control"
                               id="STBOffset"
                               placeholder=""
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getSingleTurnZoneBeginOffset()} : '1'">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="STEOffset">Offset końc. strefy z poj. zakr.</label>
                        <input type="number"
                               name="singleTurnZoneEndOffset"
                               class="form-control"
                               id="STEOffset"
                               placeholder=""
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getSingleTurnZoneEndOffset()} : '1'">
                    </div>
                    <div class="form-group col-md-2">
                        <div>
                            <label for="GTfull">Pełny czas strefy z grupy zakr.</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="checkbox"
                                   name="groupOfTurnsZoneFullTime"
                                   class="form-check-input"
                                   id="GTfull"
                                   th:checked="${wrongConfig != null}? ${wrongConfig.isGroupOfTurnsZoneFullTime()}">
                            <label class="form-check-label"
                                   for="GTfull">Tak</label>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="GTBOffset">Offset pocz. strefy z grupy zakr.</label>
                        <input type="number"
                               name="groupOfTurnsZoneBeginOffset"
                               class="form-control"
                               id="GTBOffset"
                               placeholder=""
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getGroupOfTurnsZoneBeginOffset()} : '1'">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="GTEOffset">Offset końc. strefy z grupy zakr.</label>
                        <input type="number"
                               name="groupOfTurnsZoneEndOffset"
                               class="form-control"
                               id="GTEOffset"
                               placeholder=""
                               required
                               th:value="${wrongConfig != null}? ${wrongConfig.getGroupOfTurnsZoneEndOffset()} : '1'">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
            <script>
            // Example starter JavaScript for disabling form submissions
            //if there are invalid fields
            (function() {
                'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap
            // validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
            }, false);
            })();
            </script>
        </div>
    </div>
</div>