<div class="container" xmlns:th="http://www.thymeleaf.org"
     th:fragment="zoneByTurnsConfigsTable">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h5><br>Konfiguracje stref z zakrętów</h5>
            </div>
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Min. kąt inicjacji zakrętu</th>
                    <th scope="col">Ignoruj wybrane zakręty</th>
                    <th scope="col">Min. kąt ignorowanego zakrętu</th>
                    <th scope="col">Max. kąt ignorowanego zakrętu</th>
                    <th scope="col">Min. il. zakrętów w strefie</th>
                    <th scope="col">Max. il. pauz w strefie</th>
                    <th scope="col">Poprawność</th>
                    <th scope="col">Usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${zoneByTurnsConfigs}">
                    <td th:text="${c.getConfigName()}"></td>
                    <td th:text="${c.getMinTurnInitiationAngle()}"></td>
                    <td th:text="${c.isIgnoreTurns()}"></td>
                    <td th:text="${c.getIgnoredTurnMinValue()}"></td>
                    <td th:text="${c.getIgnoredTurnMaxValue()}"></td>
                    <td th:text="${c.getMinTurnsNumberInSeries()}"></td>
                    <td th:text="${c.getMaxPausesNumberBetweenTurns()}"></td>
                    <td>
                        <div th:if="${!c.isVerified()}">
                            <form action="/zonebyturnsconfigs/verify"
                                  method="get">
                                <input type="hidden"
                                       th:value="${c.getConfigName()}"
                                       name="configName">
                                <button type="submit"
                                        class="btn btn-outline-primary btn-sm"
                                        th:disabled="${c.isVerified()}">Zweryfikuj
                                </button>
                            </form>
                        </div>
                        <div th:if="${c.isVerified()}">
                            <p>OK</p>
                        </div>
                    </td>
                    <td>
                        <form action="/zonebyturnsconfigs/delete" method="get">
                            <input type="hidden"
                                   th:value="${c.getConfigName()}"
                                   name="configName">
                            <button type="submit"
                                    class="btn btn-outline-danger btn-sm">Usuń
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>