<div class="container" xmlns:th="http://www.thymeleaf.org"
     th:fragment="zoneByPointsConfigsTable">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Zagęszcz. pkt.</th>
                    <th scope="col">Spr. sąsiedztwa pkt.</th>
                    <th scope="col">Promień do spr.</th>
                    <th scope="col">Min. il. pkt. w strefie</th>
                    <th scope="col">Max. il. pauz w strefie</th>
                    <th scope="col">Offset pocz. strefy z poj. pkt.</th>
                    <th scope="col">Offset końc. strefy z poj. pkt.</th>
                    <th scope="col">Offset pocz. strefy z grupy pkt.</th>
                    <th scope="col">Offset końc. strefy z grupy pkt.</th>
                    <th scope="col">Poprawne</th>
                    <th scope="col">Zweryfikuj</th>
                    <th scope="col">Usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${zoneByPointsConfigs}">
                    <td th:text="${c.getConfigName()}"></td>
                    <td th:text="${c.isPointsMultiplication()}"></td>
                    <td th:text="${c.isPointNeighborhoodVerification()}"></td>

                    <td th:text="${c.getRadiusOfPixelsToBeVerified()}"></td>

                    <td th:text="${c.getMinPointsNumberInSeries()}"></td>
                    <td th:text="${c.getMaxPausesNumberBetweenPoints()}"></td>
                    <td th:text="${c.getSinglePointZoneBeginOffset()}"></td>
                    <td th:text="${c.getSinglePointZoneEndOffset()}"></td>
                    <td th:text="${c.getGroupOfPointsZoneBeginOffset()}"></td>
                    <td th:text="${c.getGroupOfPointsZoneEndOffset()}"></td>

                    <td th:text="${c.isVerified()}"></td>
                    <td>
                        <form action="/zonebypointsconfigs/verify" method="get">
                            <input type="hidden"
                                   th:value="${c.getConfigName()}"
                                   name="configName">
                            <button type="submit"
                                    class="btn btn-outline-primary btn-sm"
                                    th:disabled="${c.isVerified()}">Zweryfikuj
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/zonebypointsconfigs/delete" method="get">
                            <input type="hidden"
                                   th:value="${c.getConfigName()}"
                                   name="configName">
                            <button type="submit"
                                    class="btn btn-outline-danger btn-sm">Usuń
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>