<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div th:replace="fragments/navbar :: navbar"></div>
    </div>
    <div class="row">
        <div
                th:replace="fragments/trackstable :: tracksTable"></div>
    </div>
<!--    <div class="row">-->
<!--        <div-->
<!--                th:replace="fragments/zonebypointsconfigform :: zoneByPointsConfigForm"></div>-->
<!--    </div>-->
</div>
</body>
</html>